<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div id="app">
    <!-- <input type="text" v-model="message">
    <p>{{message}}</p> -->

    <input type="text" v-model="msgText">
    <!-- <input type="text" v-model="msgText2"> -->
    <p>filters过滤器：{{msgText | statusName}}</p>
    <!-- <p>computed计算属性：{{msgTotal}}</p>  -->

  </div>
</body>
  <script src="./resources/plugin/vue.js"></script>
  <!-- import JavaScript -->
  <script>
    var vm = new Vue({
      el: '#app',
      // template: "<h1>{{message +'这是在template中的'}}</h1>",
      // render: function(createElement) {
      //     return createElement('h1', 'this is createElement')
      // },
      data: function() {
        return { 
          message: 'Vue的生命周期',
          msgText: '',
          msgText2: ''
        }
      },

      filters: {
        statusName (index) {
          return ['', '审核中', '已到帐', '已拒绝'][index]
        }
      },
      watch: {
        msgText (newValue, oldValue) {
          console.log(newValue, oldValue)
          if (newValue.length > 6) {
            this.watchMsg()
          }
        }
      },
      computed: {
        msgTotal () {
          return (Number(this.msgText) + Number(this.msgText2)) || 0
        }
      },
      methods: {
        watchMsg () {
          alert('msgText 字段长度大于6' )
        }
      },

      // beforeCreate: function() {
      //   console.group('------beforeCreate创建前状态------');
      //   console.log("%c%s", "color:red" , "el     : " + this.$el); //undefined
      //   console.log("%c%s", "color:red","data   : " + this.$data); //undefined 
      //   console.log("%c%s", "color:red","message: " + this.message) 
      // },
      // created: function() {
      //   console.group('------created创建完毕状态------');
      //   console.log("%c%s", "color:red","el     : " + this.$el); //undefined
      //   console.log("%c%s", "color:red","data   : " + this.$data); //已被初始化 
      //   console.log("%c%s", "color:red","message: " + this.message); //已被初始化
      // },
      // beforeMount: function() {
      //   console.group('------beforeMount挂载前状态------');
      //   console.log("%c%s", "color:red","el     : " + (this.$el)); //已被初始化
      //   console.log(this.$el);
      //   console.log("%c%s", "color:red","data   : " + this.$data); //已被初始化  
      //   console.log("%c%s", "color:red","message: " + this.message); //已被初始化  
      // },
      mounted: function() {
        console.group('------mounted 挂载结束状态------');
        console.log("%c%s", "color:red","el     : " + this.$el); //已被初始化
        console.log(this.$el);    
        console.log("%c%s", "color:red","data   : " + this.$data); //已被初始化
        console.log("%c%s", "color:red","message: " + this.message); //已被初始化 
      },
      // beforeUpdate: function () {
      //   console.group('beforeUpdate 更新前状态===============》');
      //   console.log("%c%s", "color:red","el     : " + this.$el);
      //   console.log(this.$el);   
      //   console.log("%c%s", "color:red","data   : " + this.$data); 
      //   console.log("%c%s", "color:red","message: " + this.message); 
      // },
      // updated: function () {
      //   console.group('updated 更新完成状态===============》');
      //   console.log("%c%s", "color:red","el     : " + this.$el);
      //   console.log(this.$el); 
      //   console.log("%c%s", "color:red","data   : " + this.$data); 
      //   console.log("%c%s", "color:red","message: " + this.message); 
      // },
      // beforeDestroy: function () {
      //   console.group('beforeDestroy 销毁前状态===============》');
      //   console.log("%c%s", "color:red","el     : " + this.$el);
      //   console.log(this.$el);    
      //   console.log("%c%s", "color:red","data   : " + this.$data); 
      //   console.log("%c%s", "color:red","message: " + this.message); 
      // },
      // destroyed: function () {
      //   console.group('destroyed 销毁完成状态===============》');
      //   console.log("%c%s", "color:red","el     : " + this.$el);
      //   console.log(this.$el);  
      //   console.log("%c%s", "color:red","data   : " + this.$data); 
      //   console.log("%c%s", "color:red","message: " + this.message)
      // }

    })
  </script>
</html>