
<script type="text/x-template" id="borrow-template">
  <div class="yl-borrow">
    <div class="yl-borrow-gap"></div>
    <div class="borrow-price">
      <p class="title">请输入金额</p>
      <div class="flex info">
        <div class="flex">
          <span>￥</span>
          <input v-model="withDrawamt" type="tel" placeholder="最低贷款额度500元" @blur="blurWithDrawamt">
        </div>
        <img src="/resources/img/del_icon.png" @click="delWithDrawamt">
      </div>
      <p class="intro">随借随还，按日计息，日利率低至0.037%</p>
    </div>
    <div class="yl-borrow-gap"></div>
    <div class="yl-borrow-detail">
      <div class="yl-borrow-list flex" @click="borrowTime.visible = true">
        <span class="title">借款期数</span>
        <div class="flex">
          <p>{{borrowTime.name}}</p>
          <i class="fa fa-angle-right"></i>
        </div>
      </div>
      <div class="yl-borrow-list flex">
        <span class="title">每月应还</span>
        <div class="flex" @click="repaymentPlan.visible = true">
          <p>首期7月16日 ￥500.00</p>
          <i class="fa fa-angle-right"></i>
        </div>
      </div>
      <div class="yl-borrow-list flex" @click="borrowUse.visible = true">
        <span class="title">借款用途</span>
        <div class="flex">
          <p>{{borrowUse.name}}</p>
          <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>
    <div class="yl-borrow-gap"></div>
    <div class="yl-borrow-detail">
      <div class="yl-borrow-list flex">
        <span class="title">收款银行卡</span>
        <div class="flex" @click="backCard.visible = true">
          <p>招商银行(8888)</p>
          <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>
    <div class="yl-borrow-gap"></div>
    <p class="flex yl-borrow-annotation">
      <van-icon name="warning-o" @click="understandRate.visible = true"/>
      <span>了解您的年化利率组成</span>
    </p>
    <div class="yl-borrow-gap"></div>
    <div class="yl-borrow-info">
      <van-checkbox v-model="signChecked" shape="square" icon-size="12px"/>
      <p>本人已阅读并同意签署<span class="info-rukou">《个人借款借据》</span>同意报送贷款相关信息之人行征信系统</p>
    </div>
    <div class="yl-borrow-foot">
      <button @click="saveAgain">下一步</button>
    </div>
    <!-- 了解您的年化利率组成 -->
    <van-popup 
      :close-on-click-overlay="false" 
      class="yl-borrow-rate-dialog" 
      v-model="understandRate.visible">
      <div>
        <div class="dialog-info">
          <p class="title">利率说明</p>
          <p>1.年化利率: <span>10.8%</span>=<span>2020</span>年<span>09</span>月<span>20</span>日<span>1</span>年期LPR利率<span>(8.00%)+280</span>基点<span>(2.80%)</span> ;</p><br/>
          <p>2.LPR为签署日前一工作日，全国银行间同业拆解中心公布的最新<span>1</span>年期贷款市场报价利率。</p><br/>
          <p>3.基点:基点为0.01%。</p>
        </div>
        <div class="foot-btn">
          <button @click="understandRate.visible = false">知道了</button>
        </div>
      </div>
    </van-popup>

    <!-- 借款用途 -->
    <yl-borrow-time :borrowTime="borrowTime" @editBorrowTime="editBorrowTime"></yl-borrow-time>
    <!-- 还款计划 -->
    <yl-refund-plan :repaymentPlan="repaymentPlan"></yl-refund-plan>
    <!-- 借款用途 -->
    <yl-borrow-use :borrowUse="borrowUse" @editBorrowUse="editBorrowUse"></yl-borrow-use>
    <!-- 银行卡列表 -->
    <yl-back-card :backCard="backCard"></yl-back-card>
    <!-- 发送验证短信 -->
    <yl-send-code :sendCode="sendCode" @saveSendCode="saveSendCode"></yl-send-code>
  </div>
</script>
